form {
  padding-top: 20px;
  margin-bottom: 2rem;
}

input {
  background: transparent;
  border: none;
  border-bottom: solid 1px #9e9e9e;
  margin: 0 0 8px 0;
  height: 2rem;
  outline: none;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  background: rgb(108, 117, 125);
  padding: .375rem .75rem;
  margin: 0 0.2rem;
  border-radius: .25rem;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 0.7rem;
  transition-duration: .4s;
}

.btn-outline {
  background: #fff;
  color: #6c757d;
  border-color: #6c757d;
}

.btn-outline:hover {
  background: rgb(108, 117, 125);
  color: #fff;
}
/* get rid of blue outline when clicked*/
.btn-outline:focus {
  outline:0;
  /* box-shadow: 0 0 0 .2rem rgba(108,117,125,.5); */
}